*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#main-container {
    height: 100vh;
    background-image: url("images/covid.png");
}

#main-container h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 4px;
    padding: 50px;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-content .content {
    height: 500px;
    width: 800px;
    border: 10px solid black;
    border-radius: 20px;
    background-color: rgba(240, 195, 73, 0.7);
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.content .content-date {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.content .border {
    border-bottom: 10px solid black;
}

.content .content-info {
    padding-left: 20px;
    font-weight: bold;
}

.content .content-info p {
    padding-top: 15px;
}

.legend {
    margin-left: 10px;
}

.legend .legend-scale ul {
    display: flex;
}

.legend .legend-scale ul li {
    display: flex;
    flex-direction: column;
    width: 85px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
}

.legend ul li span {
    height: 50%;
    width: 100%;
}

.tooltip {
    display: none;
}

#credits {
    color: rgb(0, 0, 0);
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}

#credits span {
    color: rgb(238, 105, 28)
}


@media (max-width:1750px) {
    .main-content .map img {
        width: 800px;
    }

    .legend .legend-scale ul li {
        width: 70px;
        font-size: 8px;
    }

    .main-content .content {
        font-size: 35px;
    }
}

@media (max-width:1550px) {
    .main-content .map img {
        width: 700px;
    }

    .legend .legend-scale ul li {
        width: 60px;
        font-size: 7px;
    }

    .main-content .content {
        height: 450px;
        width: 650px;
        font-size: 30px;
    }
}


@media (max-width:1350px) {
    #main-container {
        height: auto;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .main-content .map {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-content .map img {
        width: 100%;
    }

    .main-content .content {
        width: 60%;
    }

    #credits {
        position: relative;
        margin: 30px;
    }
}

@media (max-width:1050px) {

    .main-content .map {
        width: 90%;
    }

    .main-content .content {
        width: 80%;
        height: 350px;
        font-size: 20px;
    }
}

@media (max-width:750px) {
    .legend .legend-scale ul li {
        width: 50px;
    }
}

@media (max-width:650px) {
    .legend .legend-scale ul li {
        width: 35px;
    }

    .main-content .content {
        height: 300px;
        font-size: 15px;
    }
}